<!DOCTYPE html>
<html lang="zxx" class="js">

<div th:include="/modal/header2.html"></div>

<body class="nk-body ui-rounder npc-default has-sidebar ">
<div class="nk-app-root">
    <div th:include="/modal/side-bar.html"></div>

    <div class="nk-main ">
        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div th:include="/modal/header-bar.html"></div>&nbsp;
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">

                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content"><br><br>
                                        <h3 class="nk-block-title page-title">Abonnements disponibles.</h3>
                                        <div class="nk-block-des text-soft">
                                            <p>Ajoutez des plans, faites des mises à jours sur les différents plans existants.</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="row g-gs">
                                    <div class="col-md-6 col-xxl-3">
                                        <div class="card card-bordered pricing recommend text-center">
                                            <span class="pricing-badge badge badge-primary">Recommend</span>
                                            <div class="pricing-body">
                                                <div class="pricing-media">
                                                    <img th:src="@{web/images/icons/plan-s2.svg}" alt="">
                                                </div>
                                                <div class="pricing-title w-220px mx-auto">
                                                    <h5 class="title">Pro</h5>
                                                    <span class="sub-text">If you are a small business amn please select this plan</span>
                                                </div>
                                                <ul class="pricing-features">
                                                    <li><span class="w-50">Nombre de Livres</span> - <span class="ml-auto">$250</span></li>
                                                    <li><span class="w-50">Période</span> - <span class="ml-auto">$1,999</span></li>
                                                </ul>
                                                <div class="pricing-amount">
                                                    <div class="amount">$299 <span>/yr</span></div>
                                                    <span class="bill">5 User, Billed Yearly</span>
                                                </div>
                                                <div class="pricing-action">
                                                    <a href="#" class="btn btn-primary">Select Plan</a>
                                                </div>
                                            </div>
                                        </div><!-- .pricing -->
                                    </div><!--ok -->
                                    <div class="col-md-6 col-xxl-3">
                                        <div class="card card-bordered pricing text-center">
                                            <div class="pricing-body">
                                                <div class="pricing-media">
                                                    <img th:src="@{web/images/icons/plan-s3.svg}" alt="">
                                                </div>
                                                <div class="pricing-title w-220px mx-auto">
                                                    <h5 class="title">Enterprise</h5>
                                                    <span class="sub-text">If you are a small business amn please select this plan</span>
                                                </div>
                                                <ul class="pricing-features">
                                                    <li><span class="w-50">Nombre de Livres</span> - <span class="ml-auto">$250</span></li>
                                                    <li><span class="w-50">Période</span> - <span class="ml-auto">$1,999</span></li>
                                                </ul>
                                                <div class="pricing-amount">
                                                    <div class="amount">$599 <span>/yr</span></div>
                                                    <span class="bill">20 User, Billed Yearly</span>
                                                </div>
                                                <div class="pricing-action">
                                                    <a href="#" class="btn btn-primary">Select Plan</a>
                                                </div>
                                            </div>
                                        </div><!-- .pricing -->
                                    </div><!--ok -->
                                    <div class="col-md-6 col-xxl-3">
                                        <div class="card card-bordered pricing text-center">
                                            <div class="pricing-body">
                                                <div class="pricing-media">
                                                    <img th:src="@{web/images/icons/plan-s1.svg}" alt="">
                                                </div>
                                                <div class="pricing-title w-220px mx-auto">
                                                    <h5 class="title">Starter</h5>
                                                    <span class="sub-text">If you are a small business amn please select this plan</span>
                                                </div>
                                                <ul class="pricing-features">
                                                    <li><span class="w-50">Nombre de Livres</span> - <span class="ml-auto">$250</span></li>
                                                    <li><span class="w-50">Période</span> - <span class="ml-auto">$1,999</span></li>
                                                </ul>
                                                <div class="pricing-amount">
                                                    <div class="amount">$99 <span>/yr</span></div>
                                                    <span class="bill">1 User, Billed Yearly</span>
                                                </div>
                                                <div class="pricing-action">
                                                    <a href="#" class="btn btn-primary">Select Plan</a>
                                                </div>
                                            </div>
                                        </div><!-- .pricing -->
                                    </div><!--ok -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>
</body>

</html>