<!DOCTYPE html>
<html lang="zxx" class="js">

<div th:include="/modal/header2.html"></div>

<body class="nk-body ui-rounder npc-default has-sidebar ">
    <div class="nk-app-root">
        <div th:include="/modal/side-bar.html"></div>
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <div th:include="/modal/header-bar.html"></div>&nbsp;
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-head nk-block-head-sm"><br><br><br>
                                        <div class="nk-block-between g-3">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">Categories</h3>
                                                <div class="nk-block-des text-soft d-none d-md-inline-flex">
                                                    <ul class="breadcrumb breadcrumb-pipe">
                                                        <li class="breadcrumb-item active"><a href="#">Total (<span th:text="${categories.totalElements}"></span>)</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="nk-block-head-content">
                                                <a href="#" data-toggle="modal" data-target="#addAppointment" class="btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                                <a href="#" data-toggle="modal" data-target="#addAppointment" class="btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Nouveau</span></a>
                                            </div><!-- .nk-block-head-content -->
                                        </div>
                                    </div><!-- .nk-block-head -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="card card-bordered card-stretch">
                                        <div class="card-inner-group">
                                            <div class="card-inner position-relative card-tools-toggle">
                                                <div class="card-title-group">
                                                    <div class="card-tools">
                                                        <div class="form-inline flex-nowrap gx-3">
                                                            <div class="form-wrap w-150px">
                                                                <select class="form-select form-select-sm" data-search="off" data-placeholder="Bulk Action">
                                                                    <option value="">Bulk Action</option>
                                                                </select>
                                                            </div>
                                                            <div class="btn-wrap">
                                                                <span class="d-none d-md-block"><button class="btn btn-dim btn-outline-light disabled">Apply</button></span>
                                                                <span class="d-md-none"><button class="btn btn-dim btn-outline-light btn-icon disabled"><em class="icon ni ni-arrow-right"></em></button></span>
                                                            </div>
                                                        </div><!-- .form-inline -->
                                                    </div><!-- .card-tools -->
                                                    <div class="card-tools mr-n1">
                                                        <ul class="btn-toolbar gx-1">
                                                            <li>
                                                                <a href="#" class="btn btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
                                                            </li><!-- li -->
                                                        </ul><!-- .btn-toolbar -->
                                                    </div><!-- .card-tools -->
                                                </div><!-- .card-title-group -->
                                                <div class="card-search search-wrap" data-search="search">
                                                    <div class="card-body">
                                                        <div class="search-content">
                                                            <a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                                            <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by patient name or id">
                                                            <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                                        </div>
                                                    </div>
                                                </div><!-- .card-search -->
                                            </div><!-- .card-inner -->
                                            <div class="card-inner p-0">
                                                <div class="nk-tb-list nk-tb-ulist">
                                                    <div class="nk-tb-item nk-tb-head">
                                                        <div class="nk-tb-col tb-col-mb"><span>Nom Categorie</span></div>
                                                        <div class="nk-tb-col tb-col-md"><span>Nombre de livres</span></div>
                                                        <div class="nk-tb-col tb-col-md"><span>Statut</span></div>
                                                        <div class="nk-tb-col nk-tb-col-tools">&nbsp;</div>
                                                    </div><!-- .nk-tb-item -->

                                                    <div class="nk-tb-item" th:each="categorie : ${categories}">
                                                        <div class="nk-tb-col">
                                                            <div class="user-card">
                                                                <div class="user-avatar sm bg-orange-dim">
                                                                    <span>A</span>
                                                                </div>
                                                                <div class="user-info">
                                                                    <span class="tb-lead" th:text="${categorie.nomCategorie}"><span class="dot dot-gray d-md-none ml-1"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-mb">
                                                            <span class="tb-lead-sub" th:text="${#lists.size(categorie.livres)}"></span>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-md">
                                                            <div class="user-card">
                                                                <div class="user-info">
<!--                                                                    <span class="tb-lead" th:text="${categorie.statut}"></span>-->
                                                                    <span th:class="${categorie.statut}?'badge badge-primary':'badge badge-danger'" th:text="${categorie.statut}?'actif':'inactif'"></span>
<!--                                                                    <span class="badge badge-danger">success</span>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-tb-col nk-tb-col-tools">
                                                            <ul class="nk-tb-actions gx-1">
                                                                <li class="nk-tb-action-hidden">
                                                                    <a href="#" class="btn btn-trigger btn-icon" data-toggle="modal" data-target="#listelivres" data-placement="top" title="Quick View">
                                                                        <em class="icon ni ni-eye-fill"></em>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <div class="drodown">
                                                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                            <ul class="link-list-opt no-bdr">
                                                                                <li><a href="#" data-toggle="modal" data-target="#editAppointment"><em class="icon ni ni-edit"></em><span>Modifier</span></a></li>
                                                                                <li th:if="${categorie.statut}"><a th:href="@{/categorie/delete?idCategorie=}+${categorie.idCategorie}" onclick="confirm('voulez vous supprimer la categorie?')"><em class="icon ni ni-trash"></em><span>Supprimer</span></a></li>
                                                                                <li th:if="${not categorie.statut}"><a th:href="@{/categorie/delete?idCategorie=}+${categorie.idCategorie}" onclick="confirm('voulez vous Activer la categorie?')"><em class="icon ni ni-trash"></em><span>Activer</span></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div><!-- .nk-tb-item -->


                                                </div>
                                            </div><!-- .card-inner -->
                                            <div class="card-inner">
                                                <div class="nk-block-between-md g-3">
                                                    <div class="g">
                                                        <ul class="pagination justify-content-center justify-content-md-start">
                                                            <li class="page-item" th:class="${categories.isFirst} ? '' : 'disabled'"><a class="page-link" th:href="@{/categorie/list(page=${categories.number - 1})}">Prev</a></li>
    <!--                                                        <li class="page-item"><a class="page-link">1</a></li>-->
    <!--                                                        <li class="page-item"><a class="page-link">2</a></li>-->

    <!--                                                        <li th:each="pageNum : ${#numbers.sequence(categories.number, categories.number + 4)}" th:class="${pageNum == categories.number} ? 'active' : ''">-->
    <!--                                                            <a th:href="@{/categorie/list(page=${pageNum})}" th:text="${pageNum}">Page {pageNum}</a>-->
    <!--                                                        </li>-->

                                                            <li class="page-item" th:class="${categories.isLast} ? 'disabled' : ''">
                                                                <a class="page-link" th:href="@{/categorie/list(page=${categories.number + 1})}">Next</a>
                                                            </li>

                                                            <li class="page-item" th:class="${categories.isLast} ? 'disabled' : ''">
                                                                <a class="page-link" th:href="@{/categorie/list(page=${categories.totalPages - 1})}">Last Page</a>
                                                            </li>
                                                        </ul><!-- .pagination -->
                                                    </div>
                                                    <div class="g">
                                                        <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                                            <div>Page</div>
                                                            <div>
                                                                <select class="form-select form-select-sm" data-search="on" data-dropdown="xs center">
                                                                    <option value="page-1">1</option>
                                                                    <option value="page-2">2</option>
                                                                </select>
                                                            </div>
                                                            OF<div th:text="${categories.totalPages-1}"></div>
                                                        </div>
                                                    </div><!-- .pagination-goto -->
                                                </div><!-- .nk-block-between -->
                                            </div><!-- .card-inner -->
                                        </div><!-- .card-inner-group -->
                                    </div><!-- .card -->
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>

    <!-- Add Appoinment-->
    <div class="modal fade" tabindex="-1" role="dialog" id="addAppointment">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-md">
                    <h5 class="modal-title">Nouvelle Categorie</h5><br>
                    <form th:method="@{post}" th:action="@{/categorie/add}" th:object="${categorie}">
                        <div class="row g-gs">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="name">Nom</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" id="name" placeholder="Nom categorie" th:field="*{nomCategorie}">
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-12">
                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                    <li>
                                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                                    </li>
                                    <li>
                                        <button href="#" class="link link-light">Cancel</button>
                                    </li>
                                </ul>
                            </div><!-- .col -->
                        </div>
                    </form>
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="listelivres">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-md">
                    <h5 class="modal-title">Categorie</h5><br>

                    <div class="components-preview wide-md mx-auto">
                        <div class="nk-block nk-block-lg">

                            <div class="card card-preview">
                                <div class="card-inner">
                                    <table class="datatable-init nowrap table" data-export-title="Export">
                                        <thead>
                                        <tr>
                                            <th>idCategorie</th>
                                            <th>Categorie</th>
                                            <th>Livres</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>

                                        </tr>
                                        <tr>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>$170,750</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- .card-preview -->
                        </div> <!-- nk-block -->
                    </div>

                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->

    <!-- Edit Appoinment-->
    <div class="modal fade" tabindex="-1" role="dialog" id="editAppointment">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-md">
                    <h5 class="modal-title">Edit Appointment</h5>
                    <form action="#" class="mt-4">
                        <div class="row g-gs">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="editName">Name</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" id="editName" placeholder="Name" value="Abu Bin Ishtiyak">
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="editMobile">Mobile No</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" id="editMobile" placeholder="Mobile No." value="+811 847-4958">
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Appointment Date</label>
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-right">
                                            <em class="icon ni ni-calendar"></em>
                                        </div>
                                        <input type="text" class="form-control date-picker" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" value="18/12/2020">
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="serial-edit">Serial No</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" id="serial-edit" placeholder="Serial No" value="05">
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Department</label>
                                    <div class="form-control-wrap">
                                        <select class="form-select" data-placeholder="Select Department">
                                            <option value="">Select</option>
                                            <option value="default_option">Gastroenterology</option>
                                            <option value="option_select_department">Anesthesiology</option>
                                            <option value="option_select_department">Cardiology</option>
                                            <option value="option_select_department">Dermatology</option>
                                            <option value="option_select_department">Diagnostic radiology</option>
                                            <option value="option_select_department">Emergency medicine</option>
                                            <option value="option_select_department">Neurology</option>
                                            <option value="option_select_department">Obstetrics and gynecology</option>
                                            <option value="option_select_department">Ophthalmology</option>
                                            <option value="option_select_department">Pathology</option>
                                            <option value="option_select_department">Pediatrics</option>
                                            <option value="option_select_department">Psychiatry</option>
                                            <option value="option_select_department">Surgery</option>
                                            <option value="option_select_department">Urology</option>
                                        </select>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Doctor</label>
                                    <div class="form-control-wrap">
                                        <select class="form-select" data-placeholder="Select Doctor">
                                            <option value="">Select</option>
                                            <option value="option_select_consulant">Joe Larson</option>
                                            <option value="option_select_consulant">Janet Snyder</option>
                                            <option value="option_select_consulant">Amelia Grant</option>
                                            <option value="option_select_consulant">Debra Grant</option>
                                            <option value="option_select_consulant">Snyder Debra</option>
                                        </select>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Status</label>
                                    <div class="form-control-wrap">
                                        <select class="form-select" data-placeholder="Select Status">
                                            <option value="">Select</option>
                                            <option value="option_select_status">Approved</option>
                                            <option value="option_select_status">Pending</option>
                                            <option value="option_select_status">cancel</option>
                                        </select>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-12">
                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                    <li>
                                        <button data-dismiss="modal" class="btn btn-primary">Update</button>
                                    </li>
                                    <li>
                                        <a href="#" class="link link-light" data-dismiss="modal">Cancel</a>
                                    </li>
                                </ul>
                            </div><!-- .col -->
                        </div>
                    </form>
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->

</body>

</html>