<!DOCTYPE html>
<html lang="en">
	<div th:include="/modal/header.html"></div>
	<script>
		function validateForm(){
			var password = document.getElementById("password").value;
			var confirmPassword = document.getElementById("confirmPassword").value;
			console.log(password);
			console.log(confirmPassword);
			if(!password == confirm.password){
				$('#myModal').modal('show');
				return false;
			}
			return true;
		}
	</script>
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Erreur de validation</h4>
				</div>
				<div class="modal-body">
					<p>Les mots de passe ne correspondent pas. Veuillez vérifier votre saisie.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
<body>
	<div th:include="/modal/nav-bar.html"></div>

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Registration</li>
		</ol>

		<div class="row">
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Registration</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Créez votre compte utilisateur</h3>
							<p class="text-center text-muted">Cher Utilisateur si vous possédez déjà un compte, <a th:href="@{/login}">Cliquez ici</a> pour vous connecter.</p>
							<hr>
							<div th:if="${param.error}">
								<p class="error-message" style="font-size: small; color: red;">Erreur d'enregistrement</p>
							</div>
							<form th:method="@{post}" th:action="@{/register}" th:object="${client}" onsubmit="return validateForm()">
								<div class="top-margin">
									<label>First Name</label>
									<input type="text" th:field="*{firstName}" class="form-control">
								</div>
								<div class="top-margin">
									<label>Last Name</label>
									<input type="text" th:field="*{secondName}" class="form-control">
								</div>
								<div class="top-margin">
									<label>Email Address <span class="text-danger">*</span></label>
									<input type="text" th:field="*{email}" class="form-control">
									<div th:if="${param.errem}">
										<p class="error-message" style="font-size: small; color: red;">Cette addresse existe déjà.</p>
									</div>
								</div>

								<div class="row top-margin">
									<div class="col-sm-6">
										<label>Number ID Cart <span class="text-danger">*</span></label>
										<input type="number" maxlength="17" minlength="17" th:field="*{numIdCart}" class="form-control">
										<div th:if="${param.erric}">
											<p class="error-message" style="font-size: small; color: red;">Veuillez entrer une série de 17 chiffres.</p>
										</div>
									</div>
									<div class="col-sm-6">
								 c		<label>Phone Number <span class="text-danger">*</span></label>
										<input type="number" th:field="*{phoneNumber}" class="form-control">
										<div th:if="${param.errph}">
											<p class="error-message" style="font-size: small; color: red;">Ce numéro existe déjà, veuillez saisir un nouveau.</p>
										</div>
									</div>
								</div>

								<div class="row top-margin">
									<div class="col-sm-6">
										<label>Password <span class="text-danger">*</span></label>
										<input type="password" th:field="*{password}" minlength="6" class="form-control" id="password">
										<div th:if="${param.error}">
											<p class="error-message" style="font-size: small; color: red;">Veuillez entrer des mots de passe identiques</p>
										</div>
									</div>
									<div class="col-sm-6">
										<label>Confirm Password <span class="text-danger">*</span></label>
										<input type="password" class="form-control" minlength="6" th:field="*{confPassword}" id="confirmPassword">
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<label class="checkbox">
											<input type="checkbox"> 
											I've read the <a href="#">Terms and Conditions</a>
										</label>                        
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action" type="submit">Register</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+234 23 9873237<br>
								<a href="mailto:#">some.email@somewhere.com</a><br>
								<br>
								234 Hidden Pond Road, Ashland City, TN 37015
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow me</h3>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Text widget</h3>
						<div class="widget-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
							<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> | 
								<a href="about.html">About</a> |
								<a href="sidebar-right.html">Sidebar</a> |
								<a href="contact.html">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>