<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur de connexion au serveur</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <style>
    body {
      background-color: #f8f8f8;
    }
    .container {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 100px;
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 20px;
      border-radius: 5px;
    }
    .text-center {
      text-align: center;
    }
    .btn-back {
      color: #fff;
      background-color: #f60;
      border-color: #f60;
    }
    .btn-back:hover {
      background-color: #d24;
      border-color: #d24;
    }
  </style>
</head>
<body>
<div class="container">
    <h2 class="text-center">Oups, Erreur !!</h2>
    <p class="text-center" th:text="${errorMessage}"></p>
    <div class="text-center">
        <button class="btn btn-back">Retour</button>
    </div>
</div>
</body>
</html>