<!DOCTYPE html>
<html lang="zxx" class="js">

<div th:include="/modal/header2.html"></div>

<body class="nk-body ui-rounder npc-default has-sidebar ">
<div class="nk-app-root">
    <div th:include="/modal/side-bar.html"></div>
    <!-- main @s -->
    <div class="nk-main ">
        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div th:include="/modal/header-bar.html"></div>&nbsp;
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body"><br><br><br>
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">Nouvel Utilisateur</h3>
                                        <div class="nk-block-des text-soft">
                                            <p>Entrez attentivement les informations du nouvel Utilisateur.</p>
                                        </div>
                                    </div><!-- .nk-block-head-content -->
                                </div><!-- .nk-block-between -->
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <form th:method="@{post}" th:action="@{/register}" th:object="${client}">
                                    <div class="card card-bordered">
                                        <div class="card-inner-group">
                                            <div class="card-inner">
                                                <div class="nk-block-head">
                                                    <div class="nk-block-head-content">
                                                        <h5 class="title nk-block-title">Informations Personnelles</h5>
                                                    </div>
                                                </div>
                                                <div class="nk-block">
                                                    <div class="row gy-4">
                                                        <div class="col-xxl-3 col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label" for="full-name">Nom</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" th:field="*{firstName}" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xxl-3 col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label" for="full-name">Prénom</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" th:field="*{secondName}" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xxl-3 col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label" for="email">Email</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" th:field="*{email}" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xxl-3 col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label" for="phone-no">Numéro Téléphone</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="number" th:field="*{phoneNumber}" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xxl-5 col-md-5">
                                                            <div class="form-group">
                                                                <label class="form-label">Numéro CNI</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="number" maxlength="17" minlength="17" th:field="*{numIdCart}" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xxl-3 col-md-5">
                                                            <div class="form-group">
                                                                <label class="form-label">Password <span class="text-danger">*</span></label>
                                                                <div class="form-control-wrap">
                                                                    <input type="password" th:field="*{password}" minlength="6" class="form-control" id="password">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xxl-3 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Confirm Password <span class="text-danger">*</span></label>
                                                                <div class="form-control-wrap">
                                                                    <input type="password" class="form-control" minlength="6" th:field="*{confPassword}" id="confirmPassword">
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <!--row-->
                                                </div>
                                            </div><!-- .card-inner -->
                                            <div class="card-inner">
                                                <div class="nk-block-head">
                                                    <div class="nk-block-head-content">
                                                        <h5 class="title nk-block-title">Informations Générale</h5>
                                                        <p>Some common medical information about patient. </p>
                                                    </div>
                                                </div>
                                                <div class="nk-block">
                                                    <div class="row gy-4">
                                                        <div class="col-xxl-3 col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Sexe</label>
                                                                <div class="form-control-wrap">
                                                                    <select class="form-select" data-placeholder="Select Group">
                                                                        <option value="option_select_blood">Masculin</option>
                                                                        <option value="option_select_blood">Femmin</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xxl-3 col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Date Naissance</label>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right">
                                                                        <em class="icon ni ni-calendar"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control date-picker" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" th:field="*{dateNaissance}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <!--col-->
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                    </div>
                                                    <!--row-->
                                                </div>
                                            </div><!-- .card-inner -->

                                        </div>
                                    </div><!-- .card -->
                                </form>
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>
</body>

</html>